html{
	font-family: 'Roboto', sans-serif;
}
body,p{
	margin:0;
	padding: 0;

}
.nav-item{
	text-align: center;
	margin-left: 40px;
}
h3{
	text-align: center;
}

.top_bar{
	background-color: whitesmoke;
	padding-top:10px;
	padding-bottom:10px;

}

.menubar{
	background-color: red;
}

#logo{
	margin-left: -100px;
}

#cover{
	background-image: url(../img/cover.jpg);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

/*aboutus------------*/
#aboutus{
	text-align: center;
	padding-top: 90px;

}
#aboutus h1,{
	border-bottom: 3px solid red;
	display: inline-block;
}

#aboutus p{
	width: 60%;
	padding-top: 40px;
	margin: 0 auto;
}

/*aboutus------------*/


/*feature videos section*/

/*space between about us and feature section*/
#featurevideos{
	margin-top: 60px;
	background-color: whitesmoke;
	height: 900px;

}

/*space between the video rows*/
.videorowspace{
	padding-top: 20px;
}

.sectionheaders{

	display: inline-block;
	margin-left: -40px;
}
.button{
	text-align: center;
	
	padding-top: 10px;
	width: 85%;
}


/*feature videos section*/


/*success testimonials*/

#successtestimonials{
	padding-top: 60px;
	background-color: #2A2B2A;
	height: 600px;
	color: white;
}

.successimg{
	border-radius:50%;
	text-align: center;
	margin-left: 20px;
}

.successintro{
	width: 85%;
	margin-top: 15px;
	margin-left: 40px;
}

#successpeople{
	padding-top:30px;
}


/*separatior-------------------------*/

#separator{
	height: 600px;
	background-color: white;
	padding-top: 40px;

}




/*block quote*/
#separator blockquote{

	padding-top: 100px;
}

#separator blockquote h3{
	text-align: left;
	border-bottom: 3px solid red;
	display: inline-block;
	padding-bottom: 4px;
}


/*inspiration video*/
#inspired{
	margin-top: 40px;
}

.buttoninspire{
	width: 50%;
	margin-top: 20px;
}



/*footer---------------------------*/
footer{
	background-color: #1C1C1C;
	height: 300px;
}

footer h4{
	color: white;
	margin-top: 30px;
	text-align: center;

}

#footer-map{
	
	padding-left: 120px;
}

#footer-map li{
	list-style-type: none
}


#footer-map li a{
	text-decoration: none;
	color: white;
	text-align: left;
}

#socialicons{
	padding-top: 20px;
	text-align: center;
}

#socialicons img{
	margin-left: 10px;
}

#footercontact p{
	color: white;
	padding-left: 120px;
}