
#main-content h1,h2{
	text-align: center;
	padding-top: 30px;
}

#content{

}

.col{
	background-color: red;

}



#sidebar{
	padding-left: 80px;
	padding-top: 30px;
	padding-right: 90px;
}

#videosarea{
	width: 70%;
	margin-left: 60px;
	padding-bottom: 90px;

}

#videosarea iframe{
	padding:10px;
	padding-top: 40px;
}



/*bredcrumps----------
--------------------------*/

#breadcrump-time{
	background-image: url(../img/timemanagement.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}


#breadcrum-goal{
	
	background-image: url(../img/goalsetting.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

#breadcrump-finances{
	background-image: url(../img/finances.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	
}

#breadcrump-business{
	background-image: url(../img/business.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

}

#breadcrump-relationships{

	background-image: url(../img/relationship.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

}



#breadcrump-spiritual{
	background-image: url(../img/spirituality1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;


}

#breadcrumpinspirational{
	background-image: url(../img/inspirational.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

}


/*-----------------------------*/

#brendonvideos_placeholder{
	background-image: url(../img/brendon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

#anthonyvideos_placeholder{
	background-image: url(../img/anthony.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

#ericvideos_placeholder{
	background-image: url(../img/eric.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

}

#danivideos_placeholder{
	background-image: url(../img/dani.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}


form{
	width: 40%;
}