{% extends "category-template.html" %}


{% block breadcrump %} 
<!-- placeholder for breadcrump -->
		<div class="container-fluid" id="brendonvideos_placeholder">

		
		</div>

{% endblock breadcrump%}



<!-- title -->
	{% block title %} <h1>Brendon Burchard</h1> {% endblock title %}
			
		
	{% block videosarea %} 
		<div  id="videosarea">
			{% for brendonvideourl in brendonvideourls %}
				<iframe width="360" height="315" src="{{ brendonvideourl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			{% endfor %}

		</div>

	{% endblock videosarea %}







