{% extends "category-template.html" %}


{% block breadcrump %} 
<!-- placeholder for breadcrump -->
		<div class="container-fluid" id="breadcrump-business">

		
		</div>

{% endblock breadcrump%}



<!-- title -->
	{% block title %} <h1>Business</h1> {% endblock title %}
			
		
	{% block videosarea %} 
		<div  id="videosarea">

				{% for businessurl in businessurls %}
					<iframe width="260" height="215" src="{{ businessurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}
			</div>

	{% endblock videosarea %}







