
<!DOCTYPE html>
<html>
<head>
	<title>bootstrap</title>
	<link  type="text/css" href="{{ url_for('static', filename = 'bootstrap-4.0.0-dist/css/bootstrap.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagetemplate.css') }}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- <style >
	/*	body{
			padding: 50px;
			background-color: red;
		}*/
	</style> -->
</head>
<body>
	<header>
		<!-- topbar white top bar with logo center text and contact topbar -->

		<!-- top bar and navbar should be inherited to other templates -->
		<div class="container-fluid top_bar">
			<div class="container top_bar">		
				<div class="row">
					<!-- logo -->
					<div id="logo" class="col-sm">
				    
				      <img src="{{ url_for('static', filename = 'img/logo.png') }}" height="70px" width="300px">
				    </div>

				    <div class="col-sm">				    
					     <p>A personal development journey <br> Life will never be the same again</p>
				    </div>

				    				   

				    <!--  contact info-->
				    <div class="col-sm">
				     	<h4>Contact Us</h4>
				     	<p>Email: example.com</p>
				     	<p>Tel: +441214181920</p>
				    </div>
			  	</div>			
			</div>
		</div>

		<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#2b2d42;" >
		
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
			    <ul  class="navbar-nav mr-auto container">
			      <li class="nav-item active">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/">Home<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/time-management">Time Management</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/inspirational">Inspirational</a>
			      
			      <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/goal-setting">Goal Setting</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/finances/">Finances</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/business">Business</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/relationships">Relationships</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/spiritual">Spiritual</a>
			      </li>
			    </ul>
			  </div>
		</nav>
		
		
		{% block breadcrump %} {% endblock breadcrump %}
		
	
	</header>

	
		
	

			
	<main>

		<!-- main content -->
		<div id="main-content">
			<!-- title -->
			{% block title %} {% endblock title %}
			<!-- title -->
			
			<div id="content">				
					<div class="row">
						
						<!-- sidebar -->
						<div  id="sidebar">

							<div id="sidebar1">
									<nav id="category">
										<h3>Type</h3>
										<ul>
											<li><a href="seminar">Seminar</a></li>
											<li><a href="short-length">Short-length</a></li>
																				
										</ul>
									</nav>
								</div>
								<div id="sidebar2">
									<h3>Coaches</h3>
									<nav id="coaches">
										<ul>
											<!-- loop -->
											<li><a href="ericthomas">Eric Thomas</a></li>
											<li><a href="danijohnson">Dani Johnson</a></li>
											<li><a href="anthonyrobbins">Anthony Robbins</a></li>
											<li><a href="jimrhon">Jim Rhon</a></li>
											<li><a href="nickvujicic">Nick Vujicic</a></li>
											<li><a href="brendon-burchard">Brendon Burchard</a></li>
											<li><a href="bobproctor">Bob Proctor</a></li>
											<li><a href="patrickbet-david">Patrick Bet David</a></li>
										</ul>
									</nav>
								</div>

								
						</div>						
						

						<!-- content area -->
						
						{% block videosarea %} {% endblock videosarea %}

						</div>
					</div>
			</div>

			<!-- use if statements to change videos depending on sidebar -->

			
		</div>
		
	</main>
	

	<footer>
		<div class="container-fluid">
			<div class="container">
					<div class="row">
					<div class="col-sm"">
						<h4>Categories</h4>
						<ul id="footer-map">
							<li><a href="http://set09103.napier.ac.uk:9164/inspirational">Inspirational</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/time-management">Time Management</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/goal-setting">Goal Setting</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/finances">Finances</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/business">Business</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/relationships">Relationships</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/spiritual">Spiritual</a></li>
						
						</ul>
					</div>

					<div class="col-sm"">
						<h4>Find Us On Social Media</h4>
						<div id="socialicons">
							<img src="{{ url_for('static', filename = 'img/fbicon.ico') }}" height="25px" width="25px">
							<img  src="{{ url_for('static', filename = 'img/twitter.svg') }}" height="30px" width="30px">
							<img src="{{ url_for('static', filename = 'img/linkedin.svg') }}" height="30px" width="30px">
						</div>
						
					</div>

					<div  class="col-sm" id="footercontact">
						
						<h4>Contact Us</h4>
				     	<p>Email: example.com</p>
				     	<p>Tel: +441214181920</p>
					</div>
				</div>
				
				<div class="row">
					<p style="color: white;margin: 0 auto;"> &#9400; 2018 Created by Costas Nicou</p>
				</div>
				
			</div>
		</div>

		
		<!-- email -->
		<!-- social media -->
		<!-- created by linked in-->
	</footer>


	

</body>
</html>
