{% extends "category-template.html" %}


{% block breadcrump %} 
<!-- placeholder for breadcrump -->
		<div class="container-fluid" id="breadcrump-finances">

		
		</div>

{% endblock breadcrump%}



<!-- title -->
	{% block title %} <h1>Finances</h1> {% endblock title %}
			
		
	{% block videosarea %} 
		<div  id="videosarea">

			{% for financeurl in financeurls %}
				<iframe width="260" height="215" src="{{ financeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			{% endfor %}
								
		</div>

	{% endblock videosarea %}







