{% extends "category-template.html" %}


{% block breadcrump %} 
<!-- placeholder for breadcrump -->
		<div class="container-fluid" id="breadcrum-goal">

		
		</div>

{% endblock breadcrump%}



<!-- title -->
	{% block title %} <h1>Goal Setting</h1> {% endblock title %}
			
		
	{% block videosarea %} 
		<div  id="videosarea">
			{% for goalurl in goalurls %}
				<iframe width="260" height="215" src="{{ goalurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			{% endfor %}

		</div>

	{% endblock videosarea %}







