{% extends "layout-template.html" %}
<!-- fullwidth img -->

{% block breadcrump %}
		<div id="cover">
			
		</div>


{% endblock breadcrump %}


{% block main %}



			<!-- center about us section -->	
			<section class="container" id="aboutus">

				<!-- center title with line-->
				<h1>About Us</h1>
				<!-- center about us paragraph -->
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>
			</section>

			
			<!-- feature 4 videos -->		
			<section class="container-fluid" id="featurevideos">
				<div class="container">
					<h2 class="sectionheaders">Feature Videos</h2>
					
						<div class="row videorowspace">		


							<div class="col-sm">
							  	<iframe    width="460" height="315" src="https://www.youtube.com/embed/93RI4l-O0BY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							  	<a class="button btn-danger btn btn-primary btn-lg btn-block" href="http://set09103.napier.ac.uk:9164/danijohnson/videos">View More Videos</a>

						 	</div>

						 	<div class="col-sm">
								<iframe    width="460" height="315" src="https://www.youtube.com/embed/7Oxz060iedY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								<a class="button btn-danger btn btn-primary btn-lg btn-block" href="http://set09103.napier.ac.uk:9164/ericthomas/videos">View More Videos</a>
							</div>
						</div>

						<div class="row videorowspace">
							<div class="col-sm">
						 	 	<iframe  width="460" height="315" src="https://www.youtube.com/embed/HUHMZf3qwsQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						  		<a class="button btn-danger btn btn-primary btn-lg btn-block" href="http://set09103.napier.ac.uk:9164/anthonyrobbins/videos">View More Videos</a>
						  	</div>

						  	<div class="col-sm">
								<iframe   width="460" height="315" src="https://www.youtube.com/embed/wmx_35rQIRg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								<a class="button btn-danger btn btn-primary btn-lg btn-block" href="http://set09103.napier.ac.uk:9164/brendon-burchard/videos/">View More Videos</a>
							</div>
						</div>	
										
				</div>
			</section>

				
			<!-- success stories -->
			<section class="container-fluid" id="successtestimonials">
				<div class="container">
					<h2 class="sectionheaders">Success Stories</h2>

					<!-- One row with circle images and learn more -->
					
						<div class="row" id="successpeople">
							<!-- dani -->
							<div class="col-sm">
								<h3>Dani Johnson</h3>
								  <img class="successimg" src="{{ url_for('static', filename = 'img/danijohnson.jpg') }}" height="200px" width="200px">
								<p class="successintro">Dani Johnson (born March 2, 1969) is an American Christian professional speaker, author, strategic life and business coach.  <a href="http://set09103.napier.ac.uk:9164/danijohnson/story/">Read More</a> </p>
								

							</div>
							<!-- anthony -->
							<div class="col-sm">
								<h3>Anthony Robbins</h3>
								  <img class="successimg" src="{{ url_for('static', filename = 'img/anthonyrobbins.jpeg') }}" height="200px" width="200px">
								<p class="successintro">Anthony Robbins is an American author, entrepreneur, philanthropist and life coach known for his infomercials, seminars <a href="http://set09103.napier.ac.uk:9164/anthonyrobbins/story/">Read More</a> </p>
							</div>

							<!-- eric thomas -->
							<div class="col-sm">
								<h3>Eric Thomas</h3>
								<img class="successimg" src="{{ url_for('static', filename = 'img/eric-thomas.jpg') }}"height="200px" width="200px">
								<p class="successintro">Eric D. Thomas PhD is an American motivational speaker, author and minister. His speeches by are popular on YouTube <a href="http://set09103.napier.ac.uk:9164/ericthomas/story/">Read More</a> </p>
							</div>

							<div class="col-sm">
								<h3>Patrick Bet David</h3>
								<img class="successimg" src="{{ url_for('static', filename = 'img/patrickbetdavid.jpg') }}" height="200px" width="200px">
								<p class="successintro">Patrick’s amazing story starts with his family immigrating to America when he was 10-years old.  His parents fled Iran as refugees <a href="http://set09103.napier.ac.uk:9164/patrickbetdavid/story/">Read More</a> </p> 
							</div>
						</div>		
				</div>
			</section>

			<!-- get inspired section -->
			<section class="container-fluid" id="separator">
				<div class="container">
					<div class="row" >
						<blockquote class="col-sm blockquote">
							<h3>Get Inspired</h3>
			 				 <p class="mb-0">“If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.”  Martin Luther King Jr</p>
			 				<a class="button btn-danger btn btn-primary btn-lg btn-block" href="http://set09103.napier.ac.uk:9164/inspirational">View More Videos</a>

						</blockquote>

						<div id="inspired" class="col-sm ">
							<iframe width="660" height="415" src="https://www.youtube.com/embed/qVfpfR_WOF4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


						</div>
					</div>

			
				</div>
			</section>





{% endblock main %}
