{% extends "category-template.html" %}


{% block breadcrump %} 
<!-- placeholder for breadcrump -->
		<div class="container-fluid" id="breadcrumpinspirational">

		
		</div>

{% endblock breadcrump %}



<!-- title -->
	{% block title %} <h1>Inspirational</h1> {% endblock title %}
			
		
	{% block videosarea %} 
		<div  id="videosarea">
			{% for inspirationalurl in inspirationalurls %}
				<iframe width="260" height="215" src="{{ inspirationalurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			{% endfor %}

		</div>

	{% endblock videosarea %}

	{% if name %}
		<h1 > Hello {{ name }}! </ h1 >
	{% else %}
		<h1 > Hello from Napier ! </ h1 >
	{% endif %}







