<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	<link  type="text/css" href="{{ url_for('static', filename = 'bootstrap-4.0.0-dist/css/bootstrap.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagetemplate.css') }}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- <style >
	/*	body{
			padding: 50px;
			background-color: red;
		}*/
	</style> -->
</head>
<body>
	<header>
		<!-- topbar white top bar with logo center text and contact topbar -->

		<!-- top bar and navbar should be inherited to other templates -->
		<div class="container-fluid top_bar">
			<div class="container top_bar">		
				<div class="row">
					<!-- logo -->
					<div id="logo" class="col-sm">
				    
				      <img src="{{ url_for('static', filename = 'img/logo.png') }}" height="80px" width="300px">
				    </div>

				    <div class="col-sm">				    
					     <p>A personal development journey <br> Life will never be the same again</p>
				    </div>

				    				   

				    <!--  contact info-->
				    <div class="col-sm">
				     	<h4>Contact Us</h4>
				     	<p>Email: example.com</p>
				     	<p>Tel: +441214181920</p>
				    </div>
			  	</div>			
			</div>
		</div>

		<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#2b2d42;" >
		
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
			    <ul  class="navbar-nav mr-auto container">
			      <li class="nav-item active">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/">Home<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/time-management">Time Management</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/inspirational">Inspirational</a>
			      </li>
			      
			      <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/goal-setting">Goal Setting</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/finances/">Finances</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/business">Business</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/relationships">Relationships</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://set09103.napier.ac.uk:9164/spiritual">Spiritual</a>
			      </li>

			    </ul>
			  </div>
		</nav>
		
		{% block breadcrump %} {% endblock breadcrump %}
		
	
	</header>

	<main>
		
		{% block main %} {% endblock main %}
			
		
	</main>

	<footer>
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-sm"">
						<h4>Categories</h4>
						<ul id="footer-map">
							<li><a href="http://set09103.napier.ac.uk:9164/inspirational">Inspirational</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/time-management">Time Management</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/goal-setting">Goal Setting</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/finances">Finances</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/business">Business</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/relationships">Relationships</a></li>
							<li><a href="http://set09103.napier.ac.uk:9164/spiritual">Spiritual</a></li>
						
						</ul>
					</div>

					<div class="col-sm"">
						<h4>Find Us On Social Media</h4>
						<div id="socialicons">
							<img src="{{ url_for('static', filename = 'img/fbicon.ico') }}" height="25px" width="25px">
							<img  src="{{ url_for('static', filename = 'img/twitter.svg') }}" height="30px" width="30px">
							<img src="{{ url_for('static', filename = 'img/linkedin.svg') }}" height="30px" width="30px">
						</div>
						
					</div>

					<div  class="col-sm" id="footercontact">
						
						<h4>Contact Us</h4>
				     	<p>Email: example.com</p>
				     	<p>Tel: +441214181920</p>
					</div>
				</div>
				
				<div class="row">
					<p style="color: white;margin: 0 auto;"> &#9400; 2018 Created by Costas Nicou</p>
				</div>
			</div>
		</div>

		
		<!-- email -->
		<!-- social media -->
		<!-- created by linked in-->
	</footer>


	

</body>
</html>
