{% extends "category-template.html" %}


{% block breadcrump %} 
<!-- placeholder for breadcrump -->
		<div class="container-fluid" id="breadcrump-relationships">

		
		</div>

{% endblock breadcrump%}



<!-- title -->
	{% block title %} <h1>Relationships</h1> {% endblock title %}
			
		
	{% block videosarea %} 
		<div  id="videosarea">
				{% for relationshipurl in relationshipsurls %}
					<iframe width="260" height="215" src="{{ relationshipurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}
			</div>

	{% endblock videosarea %}







