{% extends "category-template.html" %}


{% block breadcrump %} 
<!-- placeholder for breadcrump -->
		<div class="container-fluid" id="breadcrump-spiritual">

		
		</div>

{% endblock breadcrump%}



<!-- title -->
	{% block title %} <h1>Spiritual</h1> {% endblock title %}
			
		
	{% block videosarea %} 
		<div  id="videosarea">
			{% for spiritualurl in spiritualurls %}
					<iframe width="260" height="215" src="{{ spiritualurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
			{% endfor %}
								
		</div>

	{% endblock videosarea %}







