<!DOCTYPE html>
<html>
<head>
	<title>bootstrap</title>
	<link  type="text/css" href="{{ url_for('static', filename = 'bootstrap-4.0.0-dist/css/bootstrap.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagetemplate.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/story.css') }}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- <style >
	/*	body{
			padding: 50px;
			background-color: red;
		}*/
	</style> -->
</head>
<body>
	<header>
		<!-- topbar white top bar with logo center text and contact topbar -->

		<!-- top bar and navbar should be inherited to other templates -->
		<div class="container-fluid top_bar">
			<div class="container top_bar">		
				<div class="row">
					<!-- logo -->
					<div id="logo" class="col-sm">
				    
				      <img src="{{ url_for('static', filename = 'img/logo.png') }}" height="70px" width="300px">
				    </div>

				    <div class="col-sm">				    
					     <p>A personal development journey <br> Life will never be the same again</p>
				    </div>

				    				   

				    <!--  contact info-->
				    <div class="col-sm">
				     	<h4>Contact Us</h4>
				     	<p>Email: example.com</p>
				     	<p>Tel: +441214181920</p>
				    </div>
			  	</div>			
			</div>
		</div>

		<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#2b2d42;" >
		
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
			    <ul  class="navbar-nav mr-auto container">
			      <li class="nav-item active">
			        <a class="nav-link" href="http://127.0.0.1:5000/">Home<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="http://127.0.0.1:5000/time-management">Time Management</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="http://127.0.0.1:5000/goal-setting">Goal Setting</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://127.0.0.1:5000/finances/">Finances</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://127.0.0.1:5000/business">Business</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://127.0.0.1:5000/relationships">Relationships</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="http://127.0.0.1:5000/spiritual">Spiritual</a>
			      </li>
			    </ul>
			  </div>
		</nav>
		
		{% block breadcrump %} {% endblock breadcrump %}
		
	
	</header>

<main>
	
	<section class="container-fluid">
		<div class="container">
			<div class="row">
				<div >

					{% block coachimg %}


					{% endblock coachimg %}

				
				</div>


				<div class="col-md" id="story">
					<article>

						{% block coachstory %}

						{% endblock coachstory %}

					
					</article>

				</div>
				
			</div>
			
		</div>
		
	</section>



</main>
<footer>
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-sm"">
						<h4>Categories</h4>
					</div>

					<div class="col-sm"">
						<h4>Find Us On Social Media</h4>
					</div>

					<div class="col-sm"">
						<h4>Contact Us</h4>
					</div>
				</div>
				
			</div>
		</div>

		
		<!-- email -->
		<!-- social media -->
		<!-- created by linked in-->
</footer>


	

</body>
</html>