{% extends "category-template.html" %}

<!-- The outcome I am after is to create an if statement
that filters videos according to speakers -->

{% block breadcrump %} 
<!-- placeholder for breadcrump -->
		<div class="container-fluid" id="breadcrump-time">

		
		</div>

{% endblock breadcrump%}
<!-- elif jinja -->

	<!-- blocks cannot be repeated so if and for statements should be inside blocks -->
	<!-- title -->
{% block title %}
	<h1>Time Management</h1> 	

	<!-- coaches selector if statements for block title -->
			{% if selector=="ericthomas" %}
				<h2>Eric Thomas</h2> 				
			{% endif %} 

			{% if selector=="danijohnson" %}
				<h2>Dani Johnson</h2> 				
			{% endif %} 

			{% if selector=="anthonyrobbins" %}
				<h2>Anthony Robbins</h2> 				
			{% endif %} 

			{% if selector=="jimrhon" %}
				<h2>Jim Rhon </h2> 				
			{% endif %} 

			{% if selector=="nickvujicic" %}
				<h2>Nick Vujicic </h2> 				
			{% endif %} 

			{% if selector=="brendon-burchard" %}
				<h2>Brendon Burchard </h2> 				
			{% endif %} 

			{% if selector=="bobproctor" %}
				<h2>Bob Proctor </h2> 				
			{% endif %} 

			{% if selector=="patrickbet-david" %}
				<h2>Patrick Bet David</h2> 				
			{% endif %} 
	<!-- coaches selector if statements for block title -->

	<!-- category type selector if statements for block title -->
			{% if selector=="seminar" %}
				<h2>Seminars</h2> 				
			{% endif %} 

			{% if selector=="short-length" %}
				<h2>Short Length Videos</h2> 				
			{% endif %} 
	<!-- category type selector if statements for block title -->


		
{% endblock title %}
			
		
{% block videosarea %} 
	<div  id="videosarea">
			
	<!-- coaches selector if statements for block title -->
			{% if selector=="ericthomas" %}
					
				{% for erictimeurl in erictimeurls %}
					<iframe width="360" height="315" src="{{ erictimeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}			
			

			{% elif selector=="danijohnson" %}
				{% for danitimeurl in danitimeurls %}
					<iframe width="360" height="315" src="{{ danitimeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}			
			

			{% elif selector=="anthonyrobbins" %}
				{% for anthonytimeurl in anthonytimeurls %}
					<iframe width="360" height="315" src="{{ anthonytimeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %} 				
			

			{% elif selector=="jimrhon" %}
				{% for jimrhontimeurl in jimrhontimeurls %}
					<iframe width="360" height="315" src="{{ jimrhontimeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}				
		

			{% elif selector=="nickvujicic" %}
				{% for timeurl in timeurls %}
					<iframe width="260" height="215" src="{{ timeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}				
			

			{% elif selector=="brendon-burchard" %}
				{% for brendontimeurl in brendontimeurls %}
					<iframe width="560" height="415" src="{{ brendontimeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}				
			 

			{% elif selector=="bobproctor" %}
				{% for bobproctortimeurl in bobproctortimeurls %}
					<iframe width="560" height="415" src="{{ bobproctortimeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}			
			 

			{% elif selector=="patrickbet-david" %}
				{% for patricktimeurl in patricktimeurls %}
					<iframe width="360" height="315" src="{{ patricktimeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}			
			 
	<!-- coaches selector if statements for block title -->

	<!-- category type selector if statements for block title -->
			{% elif selector=="seminar" %}
				{% for seminar in seminars %}
					<iframe width="360" height="315" src="{{ seminar }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}
			 

			{% elif selector=="short-length" %}
				{% for short in shortlength %}
					<iframe width="360" height="315" src="{{ short }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}				
			{% else %} 
	<!-- category type selector if statements for block title -->
			
				{% for timeurl in timeurls %}
					<iframe width="260" height="215" src="{{ timeurl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				{% endfor %}				
			{% endif %} 

	</div>

{% endblock videosarea %}







